### import the library we want to use

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from imblearn.over_sampling import SMOTE
from sklearn.metrics import classification_report, confusion_matrix

### Load Dataset

In [3]:
df = pd.read_csv('/content/Churn_Modelling.csv')
df.sample(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
5172,5173,15813095,Nwebube,553,France,Male,37,2,0.00,2,1,0,33877.29,0
8697,8698,15644551,Wimble,751,Spain,Female,37,3,99773.85,2,1,0,54865.92,0
2233,2234,15791268,Neumann,565,Spain,Male,38,0,122447.76,1,0,0,67339.34,0
5593,5594,15597968,Fyans,617,Spain,Male,50,7,0.00,1,1,0,184839.70,1
1284,1285,15742229,Mackay,583,France,Male,59,7,127450.14,1,0,1,67552.71,0

### Feature Enginnering Dataset

In [8]:
df.shape

(10000, 11)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
# Drop column we doesnt use
df = df.drop(['RowNumber','CustomerId','Surname'], axis='columns')
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [9]:
for col in df:
  if df[col].dtypes == 'object':
    print(f'{col} : {df[col].unique()}')

Geography : ['France' 'Spain' 'Germany']
Gender : ['Female' 'Male']

### One Hot Column with have object

In [11]:
df = pd.get_dummies(df, columns=['Geography','Gender'])
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0

### Scaling Columns with have int value

In [13]:
from sklearn.preprocessing import MinMaxScaler

col_int = ['CreditScore','Age','Tenure','Balance','NumOfProducts','EstimatedSalary'] 
scaler = MinMaxScaler()

df[col_int] = scaler.fit_transform(df[col_int])
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,0.538,0.324324,0.2,0.000000,0.000000,1,1,0.506735,1,1,0,0,1,0
1,0.516,0.310811,0.1,0.334031,0.000000,0,1,0.562709,0,0,0,1,1,0
2,0.304,0.324324,0.8,0.636357,0.666667,1,0,0.569654,1,1,0,0,1,0
3,0.698,0.283784,0.1,0.000000,0.333333,0,0,0.469120,0,1,0,0,1,0
4,1.000,0.337838,0.2,0.500246,0.000000,1,1,0.395400,0,0,0,1,1,0

### Build Model with Imbalanced Data

In [15]:
from sklearn.model_selection import train_test_split

In [14]:
df.Exited.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [24]:
X = df.drop('Exited', axis='columns')
y = df['Exited']

# split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8000, 13), (2000, 13), (8000,), (2000,))

In [33]:
def ANN(X_train, X_test, y_train, y_test, epochs, loss='binary_crossentropy'):
  model = keras.Sequential([
      keras.layers.Dense(13, input_dim=13, activation='relu'),
      keras.layers.Dense(10, activation='relu'),
      keras.layers.Dense(1, activation='sigmoid')
  ])

  model.compile(optimizer='adam', loss=loss, metrics=['accuracy'])

  model.fit(X_train, y_train, epochs=epochs)

  print(model.evaluate(X_test, y_test))

  y_pred = model.predict(X_test)
  y_pred = np.round(y_pred)

  print(model.summary())

  print(classification_report(y_test, y_pred))

In [34]:
pred1 = ANN(X_train, X_test, y_train, y_test, 100, 'binary_crossentropy')

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5602 - accuracy: 0.7270
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4738 - accuracy: 0.7962
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4622 - accuracy: 0.7971
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4538 - accuracy: 0.8058
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4450 - accuracy: 0.8091
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4365 - accuracy: 0.8123
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4303 - accuracy: 0.8165
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4236 - accuracy: 0.8188
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4171 - accuracy: 0.8217
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4082 - accuracy: 0.8225
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3971 - accuracy: 0.8300
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3819 - accuracy: 0.8391
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3714 - accuracy: 0.8441
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3641 - accuracy: 0.8484
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3584 - accuracy: 0.8509
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3563 - accuracy: 0.8528
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3536 - accuracy: 0.8545
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8550
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3495 - accuracy: 0.8545
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3503 - accuracy: 0.8581
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3479 - accuracy: 0.8570
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3461 - accuracy: 0.8561
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3464 - accuracy: 0.8587
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3451 - accuracy: 0.8594
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3448 - accuracy: 0.8580
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3443 - accuracy: 0.8601
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3451 - accuracy: 0.8599
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3457 - accuracy: 0.8581
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3429 - accuracy: 0.8581
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3428 - accuracy: 0.8601
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8618
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3428 - accuracy: 0.8610
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8608
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8599
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8610
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8614
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8602
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8591
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8605
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8618
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8591
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3406 - accuracy: 0.8606
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8624
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3389 - accuracy: 0.8624
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8604
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8626
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3389 - accuracy: 0.8629
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8620
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8616
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8624
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8624
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3378 - accuracy: 0.8635
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8616
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8614
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3378 - accuracy: 0.8619
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3378 - accuracy: 0.8621
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8625
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8624
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8627
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8626
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3378 - accuracy: 0.8610
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8625
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8625
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8619
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8620
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8610
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8624
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8605
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8634
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8646
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8616
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8630
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8648
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8637
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8618
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8641
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8626
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8624
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8641
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8610
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8640
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8648
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8630
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8631
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8633
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8639
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8630
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8645
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8643
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8637
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8637
Epoch 92/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3317 - accuracy: 0.8635
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8633
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8625
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8656
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8652
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8626
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8629
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8648
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8624
63/63 [==============================] - 0s 1ms/step - loss: 0.3488 - accuracy: 0.8610
[0.34883540868759155, 0.8610000014305115]
Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 13)                182

 dense_19 (Dense)            (None, 10)                140

 dense_20 (Dense)            (None, 1)                 11

=================================================================
Total params: 333
Trainable params: 333
Non-trainable params: 0
_________________________________________________________________
None
              precision    recall  f1-score   support

           0       0.87      0.97      0.92      1593
           1       0.80      0.42      0.55       407

    accuracy                           0.86      2000
   macro avg       0.83      0.70      0.74      2000
weighted avg       0.85      0.86      0.84      2000

### Build Model wwith Balanced Data with SMOTE

In [35]:
smote = SMOTE(sampling_strategy='minority')
x_sm, y_sm = smote.fit_resample(X, y)

X_train, X_test, y_train, y_test = train_test_split(x_sm, y_sm, test_size=0.2, random_state=1, stratify=y_sm)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((12740, 13), (3186, 13), (12740,), (3186,))

In [36]:
pred2 = ANN(X_train, X_test, y_train, y_test, 100, 'binary_crossentropy')

Epoch 1/100
399/399 [==============================] - 2s 3ms/step - loss: 0.6520 - accuracy: 0.6159
Epoch 2/100
399/399 [==============================] - 1s 3ms/step - loss: 0.6068 - accuracy: 0.6702
Epoch 3/100
399/399 [==============================] - 1s 3ms/step - loss: 0.5790 - accuracy: 0.6969
Epoch 4/100
399/399 [==============================] - 1s 2ms/step - loss: 0.5591 - accuracy: 0.7148
Epoch 5/100
399/399 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7282
Epoch 6/100
399/399 [==============================] - 1s 2ms/step - loss: 0.5247 - accuracy: 0.7392
Epoch 7/100
399/399 [==============================] - 1s 2ms/step - loss: 0.5100 - accuracy: 0.7495
Epoch 8/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4980 - accuracy: 0.7582
Epoch 9/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4866 - accuracy: 0.7624
Epoch 10/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4780 - accuracy: 0.7707
Epoch 11/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4716 - accuracy: 0.7733
Epoch 12/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4673 - accuracy: 0.7764
Epoch 13/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4605 - accuracy: 0.7815
Epoch 14/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4575 - accuracy: 0.7817
Epoch 15/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4552 - accuracy: 0.7831
Epoch 16/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4512 - accuracy: 0.7865
Epoch 17/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4500 - accuracy: 0.7859
Epoch 18/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4477 - accuracy: 0.7873
Epoch 19/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4467 - accuracy: 0.7869
Epoch 20/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4461 - accuracy: 0.7904
Epoch 21/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4444 - accuracy: 0.7882
Epoch 22/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4424 - accuracy: 0.7886
Epoch 23/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4420 - accuracy: 0.7920
Epoch 24/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4423 - accuracy: 0.7881
Epoch 25/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4418 - accuracy: 0.7895
Epoch 26/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4401 - accuracy: 0.7884
Epoch 27/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4407 - accuracy: 0.7888
Epoch 28/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4402 - accuracy: 0.7921
Epoch 29/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4389 - accuracy: 0.7892
Epoch 30/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4389 - accuracy: 0.7927
Epoch 31/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4386 - accuracy: 0.7921
Epoch 32/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4376 - accuracy: 0.7930
Epoch 33/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4383 - accuracy: 0.7915
Epoch 34/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4372 - accuracy: 0.7911
Epoch 35/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4393 - accuracy: 0.7917
Epoch 36/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4375 - accuracy: 0.7903
Epoch 37/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4366 - accuracy: 0.7925
Epoch 38/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4364 - accuracy: 0.7925
Epoch 39/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4369 - accuracy: 0.7917
Epoch 40/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4361 - accuracy: 0.7934
Epoch 41/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4357 - accuracy: 0.7924
Epoch 42/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4352 - accuracy: 0.7925
Epoch 43/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4358 - accuracy: 0.7925
Epoch 44/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4345 - accuracy: 0.7943
Epoch 45/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4358 - accuracy: 0.7932
Epoch 46/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4350 - accuracy: 0.7933
Epoch 47/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4346 - accuracy: 0.7906
Epoch 48/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4337 - accuracy: 0.7931
Epoch 49/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4354 - accuracy: 0.7913
Epoch 50/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4337 - accuracy: 0.7934
Epoch 51/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4344 - accuracy: 0.7921
Epoch 52/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4330 - accuracy: 0.7930
Epoch 53/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4346 - accuracy: 0.7919
Epoch 54/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4363 - accuracy: 0.7932
Epoch 55/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4332 - accuracy: 0.7922
Epoch 56/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4344 - accuracy: 0.7929
Epoch 57/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4330 - accuracy: 0.7931
Epoch 58/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4327 - accuracy: 0.7918
Epoch 59/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4331 - accuracy: 0.7936
Epoch 60/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4329 - accuracy: 0.7940
Epoch 61/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4322 - accuracy: 0.7943
Epoch 62/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4323 - accuracy: 0.7947
Epoch 63/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4334 - accuracy: 0.7929
Epoch 64/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4337 - accuracy: 0.7929
Epoch 65/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4323 - accuracy: 0.7959
Epoch 66/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4322 - accuracy: 0.7914
Epoch 67/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4319 - accuracy: 0.7922
Epoch 68/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4307 - accuracy: 0.7954
Epoch 69/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4320 - accuracy: 0.7925
Epoch 70/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4318 - accuracy: 0.7933
Epoch 71/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4325 - accuracy: 0.7933
Epoch 72/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4332 - accuracy: 0.7936
Epoch 73/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4331 - accuracy: 0.7925
Epoch 74/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4314 - accuracy: 0.7954
Epoch 75/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4320 - accuracy: 0.7946
Epoch 76/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4316 - accuracy: 0.7932
Epoch 77/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4315 - accuracy: 0.7952
Epoch 78/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4313 - accuracy: 0.7938
Epoch 79/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4315 - accuracy: 0.7938
Epoch 80/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4317 - accuracy: 0.7928
Epoch 81/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4301 - accuracy: 0.7947
Epoch 82/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4318 - accuracy: 0.7944
Epoch 83/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4320 - accuracy: 0.7944
Epoch 84/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4316 - accuracy: 0.7955
Epoch 85/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4314 - accuracy: 0.7968
Epoch 86/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4316 - accuracy: 0.7942
Epoch 87/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4301 - accuracy: 0.7936
Epoch 88/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4303 - accuracy: 0.7954
Epoch 89/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4299 - accuracy: 0.7947
Epoch 90/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4302 - accuracy: 0.7934
Epoch 91/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4301 - accuracy: 0.7980
Epoch 92/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4308 - accuracy: 0.7927
Epoch 93/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4304 - accuracy: 0.7961
Epoch 94/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4298 - accuracy: 0.7938
Epoch 95/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4302 - accuracy: 0.7953
Epoch 96/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4297 - accuracy: 0.7946
Epoch 97/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4297 - accuracy: 0.7951
Epoch 98/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4294 - accuracy: 0.7949
Epoch 99/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4300 - accuracy: 0.7927
Epoch 100/100
399/399 [==============================] - 1s 2ms/step - loss: 0.4319 - accuracy: 0.7943
100/100 [==============================] - 0s 1ms/step - loss: 0.4502 - accuracy: 0.7906
[0.4502020478248596, 0.7906465530395508]
Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 13)                182

 dense_22 (Dense)            (None, 10)                140

 dense_23 (Dense)            (None, 1)                 11

=================================================================
Total params: 333
Trainable params: 333
Non-trainable params: 0
_________________________________________________________________
None
              precision    recall  f1-score   support

           0       0.78      0.81      0.79      1593
           1       0.80      0.77      0.79      1593

    accuracy                           0.79      3186
   macro avg       0.79      0.79      0.79      3186
weighted avg       0.79      0.79      0.79      3186